# GOOSE CONFIGURATION
GOOSE_DRIVER=mysql
GOOSE_DBSTRING="user:password@tcp(localhost:3306)/dbname?parseTime=true"
GOOSE_MIGRATION_DIR=./internal/adapters/mysql/migrations

# AUTH CONFIGURATION
AUTH_ENABLED=false
JWT_SECRET=your-secret-key-change-me

# LOG CONFIGURATION
LOG_FILE_PATH=logs/app.log
DB_LOG=true

# CORS CONFIGURATION
CORS_ENABLED=true
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173
